@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins-font {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

section {
    background-color: aqua;
}

#top-banner {
    height: 100vh;
    background-image: url(/images/top-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    font-size: 100px;
    color: white;
    font-weight: bold;
}